<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
			<span style="padding: 5px;"><h3><strong>Idioma:</strong></h3></span>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><h3>Português do Brasil</h3>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#"><h3>English</h3></a></li>
					<li><a href="#"><h3>Español</h3></a></li>
				</ul>
			</div>
		</div>

		<h1 class="text-center title-padding">Bem vindo</h1>

		<div class="flex-container flex-horizontal-center center-text">
			<div class="padding-both-sides">
				<a href="/input_method/">
					<i class="fa fa-camera big-icon"></i>
					<h2>Revelar fotos</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-address-book big-icon"></i>
					<h2>Fazer álbuns</h2>
				</a>
			</div>	
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-file-image-o big-icon"></i>
					<h2>Fazer cartões</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-calendar big-icon"></i>
					<h2>Fazer calendários</h2>
				</a>
			</div>
		</div>
	</body>
</html>
