<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
				<a href="/"><button class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar</button></a>
		</div>

		<h1 class="text-center title-padding">Escolha de onde as fotos virão:</h1>

		<div class="flex-container flex-horizontal-center center-text">
			<div class="padding-both-sides">
				<a href="/pictures/">
					<i class="fa fa-save big-icon"></i>
					<h2>Cartão</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="/pictures/">
					<i class="glyphicon glyphicon-cd big-icon"></i>
					<h2>CD / DVD</h2>
				</a>
			</div>	
			<div class="padding-both-sides">
				<a href="/pictures/">
					<i class="fa fa-usb big-icon"></i>
					<h2>USB</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="/pictures/">
					<i class="fa fa-wifi big-icon"></i>
					<h2>Wi-Fi</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="/pictures/">
					<i class="fa fa-bluetooth big-icon"></i>
						<h2>Bluetooth</h2>
					</a>
			</div>
		</div>
	</body>
</html>
