<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
			<a class="padding-both-sides" href="/input_method/"><button class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar</button></a>
			<a href="/"><button class="btn btn-default"><i class="fa fa-close"></i> Cancelar</button></a>
		</div>

		<h1 class="text-center title-padding">
			Insira o seu cartão<br>e faça o pagamento de<br><span style="color: green">R$ 1,00</span>
		</h1>
	</body>
</html>
