<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
			<span style="padding: 5px;"><strong>Idioma:</strong></span>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Português do Brasil
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">English</a></li>
					<li><a href="#">Español</a></li>
				</ul>
			</div>
		</div>

		<h1 class="text-center title-padding">Escolha um método de entrada</h1>

		<div class="flex-container flex-horizontal-center center-text">
			<div class="padding-both-sides">
				<a href="/pictures">
					<i class="fa fa-save big-icon"></i>
					<h2>Cartão</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="#">
					<i class="glyphicon glyphicon-cd big-icon"></i>
					<h2>CD / DVD</h2>
				</a>
			</div>	
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-usb big-icon"></i>
					<h2>USB</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-wifi big-icon"></i>
					<h2>Wi-Fi</h2>
				</a>
			</div>
			<div class="padding-both-sides">
				<a href="#">
					<i class="fa fa-bluetooth big-icon"></i>
						<h2>Bluetooth</h2>
					</a>
			</div>
		</div>
	</body>
</html>
