<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
			<a class="padding-both-sides" href="/pictures/"><button class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar</button></a>
			<a href="/"><button class="btn btn-default"><i class="fa fa-close"></i> Cancelar</button></a>
		</div>

		<h1 class="text-center title-padding">Escolha o tamanho desejado:</h1>

		<div class="scrollable">
			<div class="col-xs-3 text-center">
				<a href="/payment">
					<img class="img-thumbnail-percentage-50" src="/images/beach_10x15.png">
					<p>10 x 15 cm<br>(R$ 0,25)</p>
				</a>
			</div>
			<div class="col-xs-3 text-center">
				<a href="/payment">
					<img class="img-thumbnail-percentage-50" src="/images/beach_13x18.png">
					<p>13 x 18 cm<br>(R$ 0,50)</p>
				</a>
			</div>
			<div class="col-xs-3 text-center">
				<a href="/payment">
					<img class="img-thumbnail-percentage-50" src="/images/beach_15x15.png">
					<p>15 x 15 cm<br>(R$ 0,50)</p>
				</a>
			</div>
			<div class="col-xs-3 text-center">
				<a href="/payment">
					<img class="img-thumbnail-percentage-50" src="/images/beach_15x20.png">
					<p>15 x 20 cm<br>(R$ 0,75)</p>
				</a>
			</div>
		</div>
	</body>
</html>
