<!DOCTYPE html>
<html>
	<head>
		<title>Totem</title>

		<!-- 3rd party dependencies -->
		<script src="/javascripts/jquery-3.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"/></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

		<!-- 1st party dependencies -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="flex-container flex-vertical-center" style="justify-content: right;">
			<a class="padding-both-sides" href="/pictures/"><button class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar</button></a>
			<a href="/"><button class="btn btn-default"><i class="fa fa-close"></i> Cancelar</button></a>
		</div>

		<h1 class="text-center title-padding">Escolha o tamanho desejado:</h1>

		<div class="scrollable">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec pharetra quam, non vestibulum ante. Aliquam sagittis cursus sapien. Praesent iaculis varius arcu eu ultrices. Cras finibus, elit nec suscipit gravida, nisi enim varius quam, vulputate tempus tortor risus et orci. Nulla eros lectus, mattis commodo venenatis nec, convallis sed nunc. Aliquam congue enim magna, in gravida magna sagittis at. Donec consectetur fringilla eros, at venenatis quam placerat vitae. In a molestie tellus, et dapibus odio. Duis suscipit volutpat tempus. Pellentesque ac mi sit amet dolor eleifend laoreet ultrices vel ex. Ut commodo vulputate pretium. Nunc varius ligula eu magna varius, id blandit turpis condimentum. Nullam congue est neque, sit amet finibus felis eleifend sit amet.</p>
	
			<p>Sed nibh dolor, consequat et ultricies sed, vulputate eu lorem. Maecenas et semper sapien. Aliquam tempor tincidunt ligula, sit amet vulputate mi vehicula non. Sed vel magna elit. Vivamus scelerisque diam felis, a egestas nisl elementum at. Maecenas non lorem iaculis, volutpat dui iaculis, semper diam. Suspendisse aliquet lacus eget nunc luctus, et feugiat nibh volutpat. Curabitur pharetra dui sit amet quam mattis, semper iaculis orci lacinia. Praesent vel pulvinar sapien, eget vestibulum dolor.</p>
	
			<p>Sed blandit nunc eu sem dignissim, ut pretium est congue. Quisque nec euismod purus. Morbi quis ante non libero finibus gravida. Ut at cursus massa. Pellentesque congue, dolor at auctor facilisis, purus urna faucibus justo, quis sagittis arcu augue vel eros. Duis suscipit sapien velit, quis condimentum ex feugiat in. Nullam ligula velit, dignissim non aliquam quis, varius in diam. Morbi vestibulum vitae magna eget tincidunt. Suspendisse facilisis, tortor sit amet efficitur sollicitudin, sapien metus iaculis lacus, eu blandit felis neque tincidunt risus. Maecenas scelerisque dapibus facilisis. Aliquam quis dui eu justo molestie aliquet. Suspendisse eu tellus quis metus aliquam vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque viverra, metus eget hendrerit viverra, leo lectus eleifend urna, nec iaculis augue lacus vel purus. Suspendisse interdum tempor dolor a faucibus.</p>
	
			<p>Integer nunc tellus, bibendum et purus a, tempus luctus arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer maximus, enim dictum faucibus condimentum, lorem odio sagittis ante, eu lobortis arcu nunc sed purus. Donec eget justo a ligula porttitor gravida non vitae quam. Aliquam erat volutpat. Phasellus sodales posuere mi, nec posuere tellus placerat non. Vivamus malesuada vehicula nunc, sit amet consequat tellus. Aenean purus purus, sodales sit amet sollicitudin nec, varius quis dolor. Aliquam commodo tellus nulla, lacinia convallis enim vestibulum gravida. Proin nec porta mi, ac dignissim diam. Duis et condimentum elit, vitae aliquam odio. Sed fringilla tempus molestie. Cras eu consectetur orci, sit amet porta nunc. Quisque tincidunt urna non massa sodales, bibendum auctor dolor scelerisque. Duis imperdiet aliquet nulla. Integer faucibus, augue id blandit aliquet, libero turpis pulvinar risus, vitae mattis leo dui non risus.</p>
	
			<p>Cras ultrices justo felis, venenatis gravida erat fringilla a. Sed ut ante enim. In mattis, ex ac sollicitudin pharetra, quam lorem lobortis justo, eu vestibulum velit turpis sit amet tellus. Donec fringilla eget libero eget maximus. Nam rutrum est luctus, aliquet nisl quis, rutrum ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sit amet purus elit.</p> 
		</div>
	</body>
</html>
