body {
	padding: 50px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex-container {
	display: flex;
}

.flex-horizontal-center {
	justify-content: center;
}

.flex-vertical-center {
	align-items: center;
}

.big-icon {
	font-size: 100px;
}

.center-text {
	text-align: center;
}

.padding-both-sides {
	padding: 0px 25px 0px 25px;
}

.padding-right {
	padding-right: 25px;
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
}

.title-padding {
	padding-bottom: 25px;
}

.scrollable {
    height: 390px;
    overflow-y: auto;
}