body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flex-container {
	display: flex;
}

.flex-vertical-center {
	align-items: center;
}

.flex-horizontal-center {
	justify-content: center;
}